<a href="https://colab.research.google.com/github/cjcastagno/DS1002/blob/main/Assignments/11_comprehension_and_recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 11
Due Monday 15 April at noon

### List comprehension

Many of you resisted my recommendation to use list comprehensions in the previous assignment, and so my hand is forced.  You made me require it.


Problem 1.  For each function you write below, you may assume the list being sent to the function will contain the appropriate data type.

Use list comprehensions to create a function that will take a list `l` and return . . .

(a) . . . a list containing the absolute value of each element of `l`

In [ ]:
# I used letters other than l so I could test the code and not have to delete the test chunk every time I define l

In [4]:
def absolute_value(l):
  return [abs(element) for element in l]

In [8]:
l = [-1, 4, -5]
absolute_value(l)

[1, 4, 5]

(b) . . . a list containing `True` for each even number in `l` and `False` for each odd number in `l`

In [5]:
def even_or_odd(p):
  return [num % 2 == 0 for num in p]

In [9]:
p = [4, 3, 6, 12]
even_or_odd(p)

[True, False, True, True]

 . . . a list containing only the numbers in `l` that are divisible by 3

In [6]:
def divisible_by_three(w):
  return [num for num w l if num % 3 == 0]

In [10]:
w = [3, 2, 9]
divisible_by_three(w)

[3, 9]

(d) . . . a list containing only the words in `l` whose first and last letters are the same

In [7]:
def first_and_last(t):
  return [word for word in t if word[0] == word[-1]]

In [12]:
t = ["anna", "banana", "avocado"]
first_and_last(t)

['anna']

(e) . . . a list containing the first letter of each word in `l` that ends with a vowel

In [14]:
def ends_with_vowel(k):
  return [word[0] for word in k if word[-1] in 'aeiouAEIOU']

In [15]:
k = ["orange", "even", "bananA"]
ends_with_vowel(k)

['o', 'b']

### Multiplication as a recursive process
Problem 2.  Write a recursive function that computes the product of two positive integers `a` and `b` by adding `a` to itself `b` times.

Hints:  
1. if `b=1` then the product is `a`.
2. if `b>1` then the product is what you get by adding `a` to `a * (b-1)`.

Note:  the purpose of this exercise is to practice writing recursive functions.  Of course you can trivially ask for `a*b` and get the correct answer but that is worth no points.  Your function should not use any multiplications.

In [1]:
def multiply(a, b):
  if b == 1:
    return a
  else:
    return a + multiply(a, b-1)

In [16]:
multiply(2, 3)

6

### Division as a recursive process

Problem 3:  Write a recursive function that takes two positive integers `a` and `b` and returns the quotient `q` and remainder `r` obtained when `a` is divided by `b`.

Hints:  
1. If `a<b` then what should `q` and `r` be?

2. If `a>b` then think about how `q` and `r` are related to the values you would get from dividing `a-b` by `b`.

In [18]:
def quotient(a, b):
  if a < b:
    return 0, a
  else:
    q, r = quotient(a - b, b)
    return q + 1, r

In [20]:
quotient(17, 5)

(3, 2)

### The dot product of two vectors

Problem 4.  Write a recursive function `dot()` that takes two lists of numbers, of equal length, and returns the sum of the products of the elements of the same index from each list. For example, if `V=[1,2,3]` and `W=[4,5,6]` then the function should return the value $(1 \cdot 4) + (2\cdot 5) + (3\cdot 6)$, which equals 32.  In physics and linear algebra, this is called the "dot product" of the vectors `V` and `W`.

Other examples:
```
dot([3],[4])
12

dot([1,1,0],[2,7,17])
9
```
Hints:
1. How is `dot(V,W)` related to `dot(V[1:],W[1:])`?
2. What should happen if the lists are empty?

In [22]:
def dot_product(x, y):
  if not x or not y:
    return 0
  return x[0] * y[0] + dot_product(x[1:], y[1:])

In [23]:
x = [3, 2, 1]
y = [3, 2, 1]
dot_product(x, y)

14